body{
margin:0;
font-family:sans-serif;
overflow:hidden;
background:#1e1e1e;
}

#desktop{
width:100vw;
height:100vh;
padding:10px;
color:white;
}

.icon{
  width: 110px;          /* bigger space */
  margin: 10px;
  cursor: pointer;
  text-align: center;    /* center text */
  white-space: nowrap;   /* prevent line breaks */
  overflow: hidden;
  text-overflow: ellipsis; /* adds ... if too long */
}

.window{
position:absolute;
width:400px;
background:white;
border:1px solid #aaa;
display:none;
top:100px;
left:100px;
box-shadow:0 5px 15px rgba(0,0,0,0.5);
}

.titlebar{
background:#0078d7;
color:white;
padding:5px;
cursor:move;
display:flex;
justify-content:space-between;
}

.content{
padding:10px;
color:black;
}

#taskbar{
position:fixed;
bottom:0;
width:100%;
height:40px;
background:#111;
display:flex;
align-items:center;
}

#startBtn{
width:80px;
background:#222;
color:white;
border:none;
height:100%;
cursor:pointer;
}

#clock{
color:white;
padding:0 10px;
}

#startMenu{
position:fixed;
bottom:40px;
left:0;
width:200px;
background:#222;
color:white;
display:none;
}

.startItem{
padding:10px;
cursor:pointer;
}

.startItem:hover

textarea,input{
width:100%;
}
button{
margin-top:5px;
}
